{% extends 'trademark_search/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="container">
        <div class="docs-overview py-5">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 py-3">
					<div class="card shadow-sm">
						<div class="card-body btn btn-modal btn-lg" data-toggle="modal" data-target="#myModal">
							<div class="product-thumbnail">
								<img src="{% static 'trademark_search/img/car.jpg' %}" alt="product-1" class="thumbnail-img">
							</div>
							<div class="featured__item__text">
								<h6>Crab Pool Security</h6>
								<div class="card-text">
									<p>Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									<div class="meta-wrap">
										<p class="meta viewer">
										  <span><i class="icon-calendar mr-2"></i>August 25, 2020</span>
										  <span><i class="icon-comment2 mr-2"></i>5 Views</span>
										</p>
									</div>
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->

				<div class="col-lg-3 col-md-4 col-sm-6 py-3">
					<div class="card shadow-sm">
						<div class="card-body btn btn-modal btn-lg" data-toggle="modal" data-target="#myModal"">
							<div class="product-thumbnail">
								<img src="{% static 'trademark_search/img/product-1.jpg' %}" alt="product-1" class="thumbnail-img">
							</div>
							<div class="featured__item__text">
								<h6>Crab Pool Security</h6>
								<div class="card-text">
									<p>Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									<div class="meta-wrap">
										<p class="meta viewer">
										  <span><i class="icon-calendar mr-2"></i>August 25, 2020</span>
										  <span><i class="icon-comment2 mr-2"></i>5 Views</span>
										</p>
									</div>
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				
				<div class="col-lg-3 col-md-4 col-sm-6 py-3">
					<div class="card shadow-sm">
						<div class="card-body btn btn-modal btn-lg" data-toggle="modal" data-target="#myModal"">
							<div class="product-thumbnail">
								<img src="{% static 'trademark_search/img/b.jpg' %}" alt="product-1" class="thumbnail-img">
							</div>
							<div class="featured__item__text">
								<h6>Crab Pool Security</h6>
								<div class="card-text">
									<p>Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									<div class="meta-wrap">
										<p class="meta viewer">
										  <span><i class="icon-calendar mr-2"></i>August 25, 2020</span>
										  <span><i class="icon-comment2 mr-2"></i>5 Views</span>
										</p>
									</div>
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				
				<div class="col-lg-3 col-md-4 col-sm-6 py-3">
					<div class="card shadow-sm">
						<div class="card-body btn btn-modal btn-lg" data-toggle="modal" data-target="#myModal"">
							<div class="product-thumbnail">
								<img src="{% static 'trademark_search/img/product-2.jpg' %}" alt="product-1" class="thumbnail-img">
							</div>
							<div class="featured__item__text">
								<h6>Crab Pool Security</h6>
								<div class="card-text">
									<p>Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
									<div class="meta-wrap">
										<p class="meta viewer">
										  <span><i class="icon-calendar mr-2"></i>August 25, 2020</span>
										  <span><i class="icon-comment2 mr-2"></i>5 Views</span>
										</p>
									</div>
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
			</div><!--//row-->
			<div class="row">
				<div class="col">
					<ul class="pagination">
						<li class="page-item page-pre"><a class="page-link" href="#"><</a></li>
						<li class="page-item page-num active"><a class="page-link" href="#">1</a></li>
						<li class="page-item page-num "><a class="page-link" href="#">2</a></li>
						<li class="page-item page-num "><a class="page-link" href="#">3</a></li>
						<li class="page-item page-num "><a class="page-link" href="#">4</a></li>
						<li class="page-item page-num "><a class="page-link" href="#">5</a></li>
						<li class="page-item page-next"><a class="page-link" href="#">></a></li>
					</ul>
				</div>
			</div>

			<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h4 class="modal-title" id="myModalLabel">title</h4>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body container-fluid">
						<div class="row">
							<div class="col-lg-7 col-xs-12 modal_content">
								<p class='content-title'>Detail</p>
								<div class="detail-image">
									<img src="{% static 'trademark_search/img/car.jpg' %}" alt="product-1" class="detail-img">
								</div>
							</div>
							<div class="col-lg-5 col-xs-12 modal_info">
								<div class="info_row"><p class="content-title">Logo ID</p><p>apdsifjdpfj</p></div>
								<div class="info_row"><p class="content-title">Country</p><p>apdsifjdpfj</p></div>
								<div class="info_row"><p class="content-title">Kind(Category)</p><p>apdsifjdpfj</p></div>
								<div class="info_row"><p class="content-title">assignee</p><p>apdsifjdpfj</p></div>
								<div class="info_row"><p class="content-title">inventor</p><p>apdsifjdpfj</p></div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-modal">More...</button>
					</div>
				  </div>
				</div>
			</div>
        </div><!--//container-->
    </div><!--//container-->
</div><!--//page-content-->

{% endblock %}
