{% extends 'image_search/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="container">
        <div class="docs-overview py-5">
            <div class="row justify-content-center">
                <div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//container-->
</div><!--//page-content-->

{% endblock %}
