{% load static %}

<!DOCTYPE html>
<html lang="ko"> 
<head>
    <title>Thunder-Patent Search</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap Documentation Template For Software Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="{% static 'main_page/img/favicon.ico' %}" type="image/x-icon">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS -->
    <script defer src="{% static 'main_page/fontawesome/js/all.min.js' %}"></script>

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{% static 'main_page/css/search.css' %}">

  <link href="{% static 'main_page/css/main.css' %}" rel="stylesheet" />
</head>

<body>
  <header class="header fixed-top">
    <div class="branding docs-branding">
      <div class="container-fluid position-relative py-2">
        <div class="docs-logo-wrapper">
          <div class="site-logo">
            <a class="navbar-brand" href="{% url 'main_page' %}">
              <span class="logo-text">⚡Thunder<span class="text-alt">
                  - Patent Search</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% block content %}

  {% endblock %}

  <footer>
    <div class="container">
      <div class="row footer_row">
        <div class="justify-content-end align-items-center footer-email">
          <p id="address">Please Mail here :> asds238@gmail.com</p>
        </div>
        <!--//docs-top-utilities-->
      </div>
    </div>
  </footer>

  <!-- Javascript -->
  <script src="{% static 'main_page/plugins/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'main_page/plugins/popper.min.js' %}"></script>
  <script src="{% static 'main_page/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main_page/js/action.js' %}"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>