{% extends 'image_search/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="container">
        <div class="docs-overview py-5">
            <div class="row justify-content-center">
                <div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<div class="product-thumbnail">
								<img src="{% static 'img/car.jpg' %}" alt="product-1" class="thumbnail-img">
							</div>
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<div class="product-thumbnail">
								<img src="{% static 'img/b.jpg' %}" alt="product-1" class="thumbnail-img">
							</div>
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-lg-3 py-3">
					<div class="card shadow-sm">
						<div class="card-body">
							<img src="{% static 'img/product-1.jpg' %}" alt="product-1" class="product-thumbnail">
							<div class="featured__item__text">
								<h6><a href="#">Crab Pool Security</a></h6>
								<div class="card-text">
									Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
								</div>
							</div>
						</div><!--//card-body-->
					</div><!--//card-->
				</div><!--//col-->
				
			</div><!--//row-->
			<div class="row">
				<div class="col">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
        </div><!--//container-->
    </div><!--//container-->
</div><!--//page-content-->

{% endblock %}
